* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.layouts header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.layouts main {
  height: calc(100vh - 100px);
  display: flex;
}
.layouts aside {
  width: 200px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 16px;
  line-height: 30px;
}
.layouts .contents {
  height: 100%;
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
}
.layouts .contents.loading {
  filter: grayscale(1.5);
}

.layouts a:not(.link) {
  display: block;
  text-decoration: none;
  padding: 0 8px;
  border-radius: 6px;
  color: #444444;
  margin-bottom: 10px;
}
.layouts .active {
  background: hsl(224, 98%, 58%);
  color: white !important;
}
